<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MagaziaSculeEntities" connectionString="metadata=res://*/ToolshedModel.csdl|res://*/ToolshedModel.ssdl|res://*/ToolshedModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=MagaziaScule;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>